*{
    margin:0;
    padding:0
}
h1{  
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* position: absolute; */
    margin:0;
}
nav ul{
    
    margin:0;
    /* margin-left: 800;
    margin-right: 0px; */
    position:absolute;
    /* text-align: right; */
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  nav ul li{
    margin: 0 10px;
  }
  nav ul li a{
    
    color: #070707;
    /* padding: 8px 15px; */
    border-radius: 10px;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: all 1s ease;
    text-align: center;
  }
  nav ul li a.active,
  nav ul li a:hover{
    color: rgb(247, 245, 245);
    background: rgb(79, 79, 79);
    
    
  }
  .aldoilea{
background-color: white;
 position: absolute;
 margin-left: 850px;

  }
  .just-navigation{
    margin:0px;
    margin-top: 5px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: black;
    color:#070707;








  }
  
  img{
    height: 50px;
    width: 50px;
  }